[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DarkDiv"]
	path = DarkDiv
	url = https://github.com/cran/DarkDiv
[submodule "funspace"]
	path = funspace
	url = https://github.com/cran/funspace
[submodule "TPD"]
	path = TPD
	url = https://github.com/cran/TPD
